.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

CsharpClassView.sln
buf.gen.yaml
buf.yaml
docs/**
scripts/**
server/**
package.json
pnpm-lock.yaml
